@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

@media (max-width: 480px){ 

body{
    background-color: #e0e0e0;
}

body main h3 {
    margin-left: 25px;
    margin-top: 25px;
    font-size: 120%;
    font-weight: 600;
    font-family: 'Outfit', sans-serif;
}

.img-hero-1 img{
    display: flex;
    margin-top: 30px;
    width: 90%;
    margin-left: 5%;
}

.img-hero-2 img{
    display: flex;
    margin-top: 30px;
    width: 90%;
    margin-left: 5%;
}

}