<!DOCTYPE html>
<html lang="pt-br">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/home320.css">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/footer.css">

    <link rel="shortcut icon" href="img/logo-icon.png" type="image/x-icon">

    <title>Home - Athena Shop</title>

</head>
<body>
    <%
    if(autenticado){
        %>
        <span>Olá <%=autenticado %>!/span>
        <%

    }else{
    %>
    <span>Olá visitante!</span>
    <%
    }
    %>
    <header>
        
        <a href="home">
            
            <picture>

                <source media="(max-width: 390px)" srcset="img/logo-icon.png">
                <source media="(max-width: 479px)" srcset="img/logo-icon.png">
                <img src="img/logo-letreiro.png" alt="logo-athena" class="logo-athena">
        
            </picture>
        </a>

        <input type="search" name="" id="search-bar-header">

        <img src="img/carrinho-de-compras.png" alt="carrinho" id="market-cart-icon-header">
        
        <img src="img/profile-user_white.png" alt="perfil" id="profile-user">


    </header>

   <nav id="v-menu">
        <ul>
            <li id="active"><a href="#">Para Você</a></li>
            <li><a href="#">Uniformes</a></li>
            <li><a href="#">Materiais</a></li>
            <li><a href="#">Mochilas</a></li>
        </ul>

     </nav>  
    
    

    
     <main>
        <a href="">
            <div class="img-hero-1">
                <img src="img/asset1.png" alt="img">
            </div>
        </a>

        <h3>Produtos patrocinados</h3>

        
        <a href="">
            <div class="img-hero-2">
                <img src="img/asset2.png" alt="img">
            </div>
        </a>

        <h3>Mais vistos</h3>

    

        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6122120409308728"
     crossorigin="anonymous"></script>
<ins class="adsbygoogle"
     style="display:block"
     data-ad-format="fluid"
     data-ad-layout-key="-7c+eh+14-4h+6p"
     data-ad-client="ca-pub-6122120409308728"
     data-ad-slot="9890406967"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>

    </main>

    <footer>

        <section class="section-1">
            <p><a href=""  class="p4">Trabalhe conosco</a></p>
            <p><a href="" class="p4">Termos e condições</a></p>
            <p><a href="" class="p4">Como cuidamos da sua privacidade</a></p>
        </section>

        <section class="section-2">
            <p><a href="" class="p4">Acessibilidade</a></p>
            <p><a href="" class="p4">Contato</a></p>
            <p><a href="" class="p4">Informações sobre seguro</a></p>
            <p>
                <a href="/adm">Administrador</a>
            </p>
        </section>
    </footer>
</body>
</html>